Repository skycoin/hardware-wallet, pull requests merged in 2019-08, with the labels that each got.

#322 Fix cancel backup ref #321
  tiny-firmware/firmware/fsm.c
  tiny-firmware/firmware/fsm_impl.c
  tiny-firmware/firmware/reset.c
  tiny-firmware/firmware/reset.h
Labels: bug, firmware

#333 change pub keys ref #331
  .travis.yml
  Makefile
  ci-scripts/install-linux.sh
Labels: bug, security

#326 Windows support
  Makefile
  ci-scripts/install-win.sh
  openocd.cfg
  prepare_emulator.py
  skycoin-api/tools/rand.c
  tiny-firmware/README.md
  tiny-firmware/bootloader/combine/prepare.py
  tiny-firmware/bootloader/skycoin_crypto.py
  tiny-firmware/firmware/main.c
Labels: emulator
