Repository skycoin/hardware-wallet, pull requests merged in 2019-07, with the labels that each got.

#296 [firmware] fixes #243 - Ignore empty passphrase
  tiny-firmware/firmware/storage.c
  tiny-firmware/firmware/test_fsm.c
Labels: Milestone v.1.0.0, firmware, stdev, wip

#293 fix full-firmware build fixes #291
  tiny-firmware/bootloader/Makefile
Labels: Milestone v.1.0.0, bug, firmware

#209 fixes #208 - Test coverage for v1
  tiny-firmware/firmware/entropy.c
  tiny-firmware/firmware/reset.c
  tiny-firmware/firmware/storage.c
  tiny-firmware/firmware/test_fsm.c
Labels: Milestone v.1.0.0, emulator, stdev, wip

#300 [firmware] fixes #244 - Fix label erased after device recovery
  tiny-firmware/firmware/fsm_impl.c
Labels: Milestone v.1.0.0, stdev, wip

#301 Make coverage fixes #212
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  coverage/.gitkeep
  skycoin-api/Makefile
  tiny-firmware/Makefile
Labels: Milestone v.1.0.0, enhancement, stdev, wip

#294 check fsm impl for buffer overflow fixes #268
  tiny-firmware/firmware/fsm_impl.c
  tiny-firmware/firmware/test_fsm.c
Labels: Milestone v.1.0.0, bug, firmware, refactor, security

#304 Added FAQ section for entropy salt sources #298
  FAQ.md
Labels: Milestone v.1.0.0, doc/faq

#314 fix buffer size for CheckMessageSignature ref #313
  tiny-firmware/firmware/fsm_impl.c
Labels: Milestone v.1.0.0, enhancement, firmware, good first issue, refactor

#307 fsm test, make use of 24 words seed as well ref #306
  tiny-firmware/firmware/test_fsm.c
Labels: Milestone v.1.0.0

#305 [firmware] [bootloader] fixes #286 - Change names of RDP level
  tiny-firmware/bootloader/bootloader.c
  tiny-firmware/bootloader/usb.c
  tiny-firmware/firmware/fsm_impl.c
  tiny-firmware/firmware/main.c
  tiny-firmware/memory.c
  tiny-firmware/memory.h
Labels: Milestone v.1.0.0, bootloader, firmware, stdev, wip

#312 fix usage of skycoin_address_from_pubkey ref #110
  tiny-firmware/firmware/fsm_impl.c
Labels: Milestone v.1.0.0, bug, enhancement, firmware, security

#292 fixes #287 #288 - Salt random values used for ECDSA nonces
  skycoin-api/tools/entropypool.c
  skycoin-api/tools/entropypool.h
  skycoin-api/tools/rand.c
  skycoin-api/tools/rand.h
  tiny-firmware/Makefile
  tiny-firmware/bootloader/Makefile
  tiny-firmware/emulator/rng.c
  tiny-firmware/firmware/entropy.c
  tiny-firmware/firmware/entropy.h
  tiny-firmware/firmware/fsm.c
  tiny-firmware/firmware/test_fsm.c
  tiny-firmware/rng.c
Labels: Milestone v.1.0.0, bootloader, firmware, stdev, wip

#285 fixes #208 Tests for firmware before release
  README.md
  tiny-firmware/Makefile
  tiny-firmware/firmware/reset.c
  tiny-firmware/firmware/reset.h
  tiny-firmware/firmware/storage.c
  tiny-firmware/firmware/test_fsm.c
  tiny-firmware/firmware/test_main.c
  tiny-firmware/firmware/test_pin.c
  tiny-firmware/firmware/test_pin.h
  tiny-firmware/firmware/test_reset.c
  tiny-firmware/firmware/test_reset.h
  tiny-firmware/firmware/test_serialno.c
  tiny-firmware/firmware/test_serialno.h
  tiny-firmware/serialno.c
  tiny-firmware/serialno.h
Labels: Milestone v.1.0.0, ci, stdev, wip

#281 Bootloader signature test ref #270
  .gitignore
  .travis.yml
  Makefile
  skycoin-api/Makefile
  skycoin-api/skycoin_crypto.py
  skycoin-api/test_skycoin_crypto.py
  tiny-firmware/Makefile
  tiny-firmware/Makefile.include
  tiny-firmware/bootloader/Makefile
  tiny-firmware/bootloader/firmware_sign.py
  tiny-firmware/bootloader/generate-pubkeys-cfile.py
  tiny-firmware/bootloader/signatures.c
  tiny-firmware/bootloader/test_firmware_sign.py
  tiny-firmware/gen/bitmaps.c
  tiny-firmware/gen/bitmaps.h
Labels: Milestone v.1.0.0, bootloader, security, wip

#325 Run dieharder in resolve ambiguity mode ref #324
  trng-test/Makefile
Labels: Milestone v.1.0.0, enhancement, security
